<%= form_for @painting, :html => {:multipart => true} do |f| %>
  
  <p>
    <%= f.file_field :image %>
  </p>
  <p>
    <%= f.label :remote_image_url, "or image URL" %>
    <%= f.text_field :remote_image_url %>
    <%= f.hidden_field :key %>
  </p>
  <p><%= f.submit %></p>
<% end %>